<html>
  <head>
    <title>Number Guesser</title>
  </head>
  <br>
  <form>
    <input type='text' name='guess' />
    <input type='submit' value='Guess!' />
  </form>
  <body>
    <p><%= message %></p>
    <% if message == "You got it right!" %>
      The <b>secret number</b> is <%= @secret_number %>
    <% end %>
  </body>
</html>
